body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
    max-width: 1440px;
    width: 100%;
    display: flex;
    justify-content: center;

}

.container {
    width: 90%;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-around;
}

#studentFormDiv {
    width: 34%;
    background-color: #e6e6e6;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

form {
    margin-bottom: 20px;
}

form div {
    margin-bottom: 10px;
}

label {
    display: inline-block;
    width: 100px;
}

input[type="text"] {
    width: calc(100% - 110px);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#studentListDiv {
    width: 64%;
    padding-bottom: 20px;
    background-color: #dddddd;
    display: flex; 
    flex-direction: column;
    align-items: center;

}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background: #f2f2f2;
    cursor: pointer;
}

th a {
    text-decoration: none;
    color: #333;
}

button {
    padding: 5px 10px;
    border: none;
    background: #d9534f;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background: #c9302c;
}

.edit {
    background: #5bc0de;
}

.edit:hover {
    background: #31b0d5;
}

#pagination {
    text-align: center;
    margin-top: 20px;
}

#pagination a {
    text-decoration: none;
    color: #337ab7;
    background: #ffffff;
    padding: 5px 10px;
    border: 1px solid #ddd;
    margin: 0 5px;
    border-radius: 4px;
}

#pagination a:hover {
    background: #eee;
    border-color: #ccc;
}

#search {
    width: 75%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

